<% content_for :title, t("helpers.new", model: t("activerecord.models.tenant.one")) %>

<h1><%= t("helpers.new", model: t("activerecord.models.tenant.one")) %></h1>

<%= render "form", tenant: @tenant %>

<br>

<div>
  <%= link_to t("helpers.back", model: t("activerecord.models.tenant.other")), tenants_path, class: "btn btn-outline-primary" %>
</div>