<% content_for :title, t("activerecord.models.tenant.one") %>

<%= render @tenant %>

<div>
  <%= link_to t("helpers.edit", model: t("activerecord.models.tenant.one")), edit_company_tenant_path(@company, @tenant), class: "btn btn-outline-primary" %> |   
  <%= link_to t("helpers.back", model: t("activerecord.models.tenant.other")), company_tenants_path(@company), class: "btn btn-outline-primary" %>

  <%= button_to t("helpers.destroy", model: t("activerecord.models.tenant.one")), [@company, @tenant], method: :delete, class: "btn btn-danger mt-2" %>
</div>