<% content_for :title, t("helpers.edit", model: t("activerecord.models.financial_operation.one")) %>

<h4 class="mb-3">
  <i class="fas fa-file-pen text-primary me-2"></i>
  <%= t("helpers.edit", model: t("activerecord.models.financial_operation.one")) %>
</h4>

<%= render "form", financial_operation: @financial_operation %>

<div class="mt-3 d-flex gap-2">
  <%= link_to t("helpers.back", model: t("activerecord.models.financial_operation.other")), company_financial_operations_path(@company), class: "btn btn-link" %>
</div>
