<% content_for :title, t("helpers.new", model: t("activerecord.models.financial_operation.one")) %>

<div class="container my-4">
  <h4 class="mb-3">
    <i class="fas fa-file-circle-plus text-primary me-2"></i>
    <%= t("helpers.new", model: t("activerecord.models.financial_operation.one")) %>
  </h4>

  <div class="card">
    <div class="card-body">
      <%= render "form", financial_operation: @financial_operation %>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to t("helpers.back", model: t("activerecord.models.financial_operation.other")), company_financial_operations_path(@company), class: "btn btn-link" %>
  </div>
</div>