<% content_for :title, t("activerecord.models.company.other") %>

<h1><%= t("activerecord.models.company.other") %></h1>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
      <%= link_to t("helpers.show", model: t("activerecord.models.company.one")), [ :admin, company ], class: "btn btn-outline-primary" %>
    </p>
  <% end %>
</div>

<%= link_to t("helpers.new", model: t("activerecord.models.company.one")), new_admin_company_path, class: "btn btn-outline-primary" %>