<% content_for :title, t("helpers.edit", model: t("activerecord.models.property.one")) %>

<h1 class="h4 mb-3"><i class="fas fa-building text-primary me-2"></i><%= t("helpers.edit", model: t("activerecord.models.property.one")) %></h1>

<%= render "form", property: @property %>

<div class="mt-3">
  <%= link_to t("helpers.back", model: t("activerecord.models.property.other")), company_properties_path(@company), class: "btn btn-link" %>
</div>
