<% content_for :title, t("helpers.edit", model: t("activerecord.models.property.one")) %>

<h1 class="mb-4"><%= t("helpers.edit", model: t("activerecord.models.property.one")) %></h1>

<div class="card mb-4">
  <div class="card-body">
    <%= render "form", property: @property %>
  </div>
</div>

<div class="mb-3">
  <%= link_to t("helpers.show", model: t("activerecord.models.property.one")), @property, class: "btn btn-outline-primary me-2" %>
  <%= link_to t("helpers.back", model: t("activerecord.models.property.other")), properties_path, class: "btn btn-outline-secondary" %>
</div>