<% content_for :title, t("activerecord.models.property.other") %>

<h1><%= t("activerecord.models.property.other") %></h1>

<div id="properties">
  <% @properties.each do |property| %>
    <%= render property %>
    <p>
      <%= link_to t("helpers.show", model: t("activerecord.models.property.one")), [@company, property], class: "btn btn-outline-primary" %>
    </p>
  <% end %>
</div>

<%= link_to t("helpers.new", model: t("activerecord.models.property.one")), new_company_property_path(@company), class: "btn btn-outline-primary" %>