<% content_for :title, t("helpers.new", model: t("activerecord.models.property.one")) %>

<h1><%= t("helpers.new", model: t("activerecord.models.property.one")) %></h1>

<%= render "form", property: @property %>

<br>

<div>
  <%= link_to t("helpers.back", model: t("activerecord.models.property.other")), company_properties_path(@company), class: "btn btn-outline-primary" %>
</div>