<% content_for :title, t("activerecord.models.property.one") %>

<%= render @property %>

<div>
  <%= link_to t("helpers.edit", model: t("activerecord.models.property.one")), edit_company_property_path(@company, @property), class: "btn btn-outline-primary" %> |   
  <%= link_to t("helpers.back", model: t("activerecord.models.property.other")), company_properties_path(@company), class: "btn btn-outline-primary" %>

  <%= button_to t("helpers.destroy", model: t("activerecord.models.property.one")), [@company, @property], method: :delete, class: "btn btn-danger mt-2" %>
</div>