<% content_for :title, t("helpers.edit", model: t("activerecord.models.company.one")) %>

<h1 class="mb-4"><%= t("helpers.edit", model: t("activerecord.models.company.one")) %></h1>

<div class="card mb-4">
  <div class="card-body">
    <%= render "form", company: @company %>
  </div>
</div>

<div class="mb-3">
  <%= link_to t("helpers.show", model: t("activerecord.models.company.one")), @company, class: "btn btn-outline-primary me-2" %>
  <%= link_to t("helpers.back", model: t("activerecord.models.company.other")), companies_path, class: "btn btn-outline-secondary" %>
</div>