<% content_for :title, t("helpers.edit", model: t("activerecord.models.general_meeting.one")) %>

<h1 class="mb-4"><%= t("helpers.edit", model: t("activerecord.models.general_meeting.one")) %></h1>

<div class="card mb-4">
  <div class="card-body">
    <%= render "form", company: @company, general_meeting: @general_meeting %>
  </div>
</div>

<div class="mb-3">
  <%= link_to t("helpers.show", model: t("activerecord.models.general_meeting.one")), [@company, @general_meeting], class: "btn btn-outline-primary me-2" %>
  <%= link_to t("helpers.back", model: t("activerecord.models.general_meeting.other")), company_general_meetings_path(@company), class: "btn btn-outline-secondary" %>
</div>