<% content_for :title, t("helpers.new", model: t("activerecord.models.general_meeting.one")) %>

<h1><%= t("helpers.new", model: t("activerecord.models.general_meeting.one")) %></h1>

<%= render "form", general_meeting: @general_meeting %>

<br>

<div>
  <%= link_to t("helpers.back", model: t("activerecord.models.general_meeting.other")), general_meetings_path, class: "btn btn-outline-primary" %>
</div>