<%% content_for :title, t("helpers.edit", model: t("activerecord.models.<%= singular_table_name %>.one")) %>

<h1 class="mb-4"><%%= t("helpers.edit", model: t("activerecord.models.<%= singular_table_name %>.one")) %></h1>

<%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

<div class="mb-3">
  <%%= link_to t("helpers.show", model: t("activerecord.models.<%= singular_table_name %>.one")), <%= model_resource_name(prefix: "@") %>, class: "btn btn-outline-primary me-2" %>
  <%%= link_to t("helpers.back", model: t("activerecord.models.<%= singular_table_name %>.other")), <%= index_helper(type: :path) %>, class: "btn btn-outline-secondary" %>
</div>