<% content_for :title, t("helpers.new", model: t("activerecord.models.associate.one")) %>

<h4 class="mb-3">
  <i class="fas fa-user-plus text-primary me-2"></i>
  <%= t("helpers.new", model: t("activerecord.models.associate.one")) %>
</h4>

<%= render "form", associate: @associate %>

<div class="mt-3">
  <%= link_to t("helpers.back", model: t("activerecord.models.associate.other")), company_associates_path(@company), class: "btn btn-link" %>
</div>
