<% content_for :title, t("activerecord.models.associate.one") %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="mb-0">
    <i class="fas fa-user text-primary me-2"></i>
    <%= [@associate.first_name, @associate.last_name].compact.join(" ") %>
  </h4>
  <div class="d-flex gap-2">
    <%= link_to t("helpers.edit", model: t("activerecord.models.associate.one")), edit_company_associate_path(@associate.company, @associate), class: "btn btn-outline-secondary" %>
    <%= button_to t("helpers.destroy", model: t("activerecord.models.associate.one")), [@associate.company, @associate], form: { data: { turbo_method: :delete, turbo_confirm: t("helpers.are_you_sure") } }, class: "btn btn-danger" %>
  </div>
</div>

<div class="mb-4">
  <%= render @associate %>
</div>
